<html>

    
    <title> speakers   </title>
<head>
    
    

    <img src="Images/download.png" width="50" height="50">
    <h2>San Valley Town Hall</h2>
    <h4>Celebrating our 75<sup>th</sup> Year</h4>
    <h2>Our Mission</h2>
    <p>Our Purpose. Bringing quality, safety and sustainability to life. Our Mission. To exceed our customers’ expectations with innovative and bespoke Assurance, Testing, Inspection and Certification services for their operations and supply chain</p>
    <h2>Our Ticket Packages</h2>
    <ul>
    <li>season package:99$</li>
    <li>patron package:299$</li>
    <li>single speaker:199$</li>    
    </ul>
    <h1>This season's guest Speakers</h1>
    <h3>October</h3>
    <a href="Speakers/Obama.html"><h5>Barak Obama</h5></a>
    <img src="Images/download.jpg">
    <footer>&copy; 2015 San Joaquin Valley Town Hall,Fresno,CA 93755</footer>

    
    </head>



</html> 